extends layout

block content

  h1 Brand: #{brand.name}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Items
    div.brand-items-container
      if brand_items.length
        each item in brand_items
          div.brand-item
            img.item-photo(src=(item.itemPhoto))
            div.brand-item-info
              a.item-info-name(href=item.url) #{item.name}
              div #{item.description}
              div Category: 
                a(href=item.category.url) #{item.category.name}
      else
        p This brand has no items.
      hr
    p
      a(href=brand.url+'/update') Update Brand
    p
      a(href=brand.url+'/delete') Delete Brand