extends layout

block content
  h1= title
  p This is the #{title}. We have a bafflingly limited selection.
  p Need drum stuff? Chances are, we probably don't have what you're looking for. But we're very charming!

  ul 
    li #[strong Total Items:] !{item_count}
    li #[strong Category Count:] !{category_count}
    li #[strong Brand Count:] !{brand_count}
