extends layout

block content
  h1= title
  p This is the #{title}.

  ul 
    li #[strong Total Items:] !{item_count}
    li #[strong Category Count:] !{category_count}
    li #[strong Brand Count:] !{brand_count}
