extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='name') Item Name:
      input#title.form-control(type='text' placeholder='Name of item' name='name' required value=(undefined===item ? '' : item.name) )
    div.form-group
      label(for='brand') Brand:
      select#author.form-control(name='brand' required)
        option(value='') --Please select a brand--
        for brand in brands
          if item
            if brand._id.toString()===item.brand._id.toString()
              option(value=brand._id selected) #{brand.name}
            else
              option(value=brand._id) #{brand.name}
          else
            option(value=brand._id) #{brand.name}
    div.form-group
      label(for='category') Category:
      select#author.form-control(name='category' required)
        option(value='') --Please select a category--
          for category in categories
            if item
              if category._id.toString()===item.category._id.toString()
                option(value=category._id selected) #{category.name}
              else
                option(value=category._id) #{category.name}
            else
              option(value=category._id) #{category.name}
    div.form-group
      label(for='description') Description:
      input#summary.form-control(placeholder='Item description' name='description' required value=(undefined===item ? '' : item.description) )
    div.form-group
      label(for='price') Price:
      input#isbn.form-control(type='number' placeholder='Price of item' name='price' step='0.01' required value=(undefined===item ? '' : item.price) )
    div.form-group 
      label(for='numInStock') Number in Stock: 
      input#isbn.form-control(type='number' placeholder='Number in stock' name='numInStock' required value=(undefined===item ? '' : item.numInStock) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li(style='color: red;')!= error.msg