extends layout 

block content 
  h1= title 

  div.items-container
    if item_list.length
      each item in item_list
        div.item-card 
          img.item-photo(src=(item.itemPhoto))
          div.item-info
            a(href=item.url) #{item.name} 
            span #[strong By]: 
            a(href=item.brand.url) #{item.brand.name} 
            div #[strong Price]: $#{item.price}

    else 
      p There are no items.