extends layout

block content

  div(style='margin-left:20px;margin-top:20px')

    if item
      h1 #{item.brand.name} #{item.name} 
      div.item-detail
        img.item-photo(src=(item.itemPhoto))
        div.item-detail-info
          div #{item.description}
          div #[strong Brand]: 
            a(href=item.brand.url) #{item.brand.name}
          div #[strong Price]: $#{item.price} 
          div #[strong Amount in Stock]: #{item.numInStock}
          div #[strong Category]: 
            a(href=item.category.url) #{item.category.name}
    else
      p This item does not exist.
    hr
    p
      a(href=item.url+'/update') Update Item
    p
      a(href=item.url+'/delete') Delete Item